@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
  font-family: var(--font-redhat)
}

.hamburger {
  display: block;
}

.bg-theme {
  background: rgb(68, 18, 115);
  background: linear-gradient(
    34deg,
    rgba(68, 18, 115, 1) 0%,
    rgba(5, 30, 75, 1) 21%,
    rgba(52, 79, 141, 1) 58%,
    rgba(106, 137, 223, 1) 80%,
    rgba(145, 227, 226, 1) 99%
  );
}

.hov-bg-theme:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.8);
}

.text-theme {
  color: #fff;
}


@media (min-width: 768px) {
  .text-theme {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 613px) {
  body .before-multiselect{
    @apply bg-transparent shadow-none outline-none backdrop-blur-none;
  }

  body #multiselectContainerReact .searchWrapper input {
    @apply bg-[#FEFEFE] text-[#314c89] w-full border-slate-200 px-3 outline-none placeholder:text-slate-700 contrast-more:border-slate-400 contrast-more:placeholder:text-slate-500 rounded-3xl bg-opacity-[.2] shadow backdrop-blur-3xl ml-0 p-2;
  }

  body #multiselectContainerReact .searchWrapper .chip {
    @apply mb-3;
  }

  .searchIcon {
    @apply absolute right-8 bottom-[15px];
  }
}

@media (max-width: 430px){
  .backToTop{
    right: 20px;
  }
}

@media (max-width: 400px) {
  .group {
    width: 339px;
  }

  .main-title {
    font-size: 2.1875rem;
    margin-top: 1.25rem;
  }

  .main-description {
    text-align: justify;
    font-size: 0.9375rem;
  }

  .backToTop{
    right: 10px;
  }
}

@media (max-width: 358px) {
  .group {
    width: 310px;
  }
}

@media (max-width: 310px) {
  .projectContainer {
    width: 93vw;
  }

  .group {
    width: 95vw;
  }

  .projDetail {
    overflow-x: hidden;
  }
}

.details summary::after {
  content: "^";
}


.headTitle {
  @apply text-2xl md:text-2xl lg:text-3xl;
}

.btn {
  @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-md px-8 py-3 font-semibold no-underline antialiased outline-none transition duration-200 ease-in-out focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2;
}

.btn-primary {
  @apply translate-x-0 transform rounded-full rounded-bl-none bg-gray-900 font-medium text-white shadow-2xl hover:translate-y-1 hover:bg-[#7289DA] hover:shadow-md;
}
.btn-twitter {
  @apply translate-x-0 transform rounded-full rounded-bl-none bg-gray-900 font-medium text-white shadow-2xl hover:translate-y-1 hover:bg-[rgb(29,161,242)] hover:shadow-md;
}

#multiselectContainerReact {
  @apply w-full border-slate-200 px-2 outline-none placeholder:text-slate-700 contrast-more:border-slate-400 contrast-more:placeholder:text-slate-500;
}

#multiselectContainerReact .searchWrapper{
  @apply text-[#314c89] border-none flex flex-wrap items-center h-auto;
}

#multiselectContainerReact .searchWrapper .chip{
  @apply mb-0; 
}

#multiselectContainerReact .searchWrapper input{
  @apply placeholder:text-slate-700 text-white font-bold ml-2 mt-0;
}

#get-projects-scroll{
  overflow: hidden;
}

#four-c-logo{
  height: auto;
  width: 56px;
}
