/* ./styles/globals.css */
@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./button.css";
@import "./details.css";

@import "tailwindcss/utilities";

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.hamburger {
  display: block;
}

.bg-theme {
  background: rgb(68, 18, 115);
  background: linear-gradient(
    34deg,
    rgba(68, 18, 115, 1) 0%,
    rgba(5, 30, 75, 1) 21%,
    rgba(52, 79, 141, 1) 58%,
    rgba(106, 137, 223, 1) 80%,
    rgba(145, 227, 226, 1) 99%
  );
}

.hov-bg-theme:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.8);
}

.text-theme {
  color: #fff;
}

@media (min-width: 768px) {
  .text-theme {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
@media (max-width: 400px) {
  .group {
    width: 339px;
  }
}
@media (max-width: 358px) {
  .group {
    width: 310px;
  }
}
@media (max-width: 310px) {
  .projectContainer {
    width: 93vw;
  }
  .group {
    width: 95vw;
  }
  .projDetail {
    overflow-x: hidden;
  }
}
